.layout {
  display: flex;
}

/* MAIN CONTENT */
.main-content {
  margin-top: 70px; /* navbar height */
  padding: 20px;
  width: 100%;
 transition:.3s ease;

}

/* SIDEBAR OPEN */
.main-content.expanded {
  margin-left: 240px;
}

/* SIDEBAR COLLAPSED */
.main-content.collapsed {
  margin-left: 70px;
}
