body {
  background: #f4f6f9;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #343a40;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  color: #c2c7d0;
  padding: 10px;
  cursor: pointer;
}

.menu li:hover {
  background: #495057;
  color: #fff;
}

.navbar-custom {
  background: white;
  border-bottom: 1px solid #ddd;
}

.card {
  border-radius: 6px;
}